/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light text */
    text-align: center;
    padding: 20px;
}

#app {
    max-width: 600px;
    margin: auto;
}

textarea {
    width: calc(100% - 20px);
    height: 150px;
    margin-bottom: 20px;
    background-color: #333; /* Darker element background */
    color: #fff; /* White text */
    border: none;
    padding: 10px;
    border-radius: 8px;
    resize: none; /* Disable textarea resizing */
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #6200EA; /* Accent color */
    color: #FFFFFF; /* White text */
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700B3; /* Darker accent color on hover */
}

#teams {
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #BB86FC; /* Light purple for headings */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    flex: 1; /* Allows each team's list to take equal width */
}

li {
    background-color: #333333; /* Slightly lighter dark background for list items */
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
